<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>View Delivery</title>

        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel = "stylesheet">       
        <link href = "https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@500&display=swap" rel = "stylesheet">
        <link href = "/css/style.css" rel = "stylesheet">

        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
       
        <script src = "/js/delivery.js" type = "module"></script>
    </head>

    <body class = "bg-home">
        <!-- as of now, its set to non-admin ung nav, but admin should be included -->
        {{>navbar adminflag = true home-page = true account-page = false}}

        <div class = "m-4">
            <h1 class = "fs-1 fw-bolder text-center text-info text-muted">DELIVERIES</h1>
        </div>

        <div class = "modal" id = "edit-delivery-status-modal">
            <div class = "modal-dialog modal-dialog-centered">
                <div class = "bg-primary border border-white border-3 modal-content">
                    <div class = "text-end">
                        <button class = "btn fs-5 fw-bold m-1 shadow-none text-white" data-bs-dismiss = "modal">X</button>
                    </div>
                    
                    <form id = "edit-delivery-status-form">
                        <div class = "bg-secondary p-2 text-center">
                            <input type = "hidden" id = "edit-delivery-status-form-id" name = "deliveryId">
                            <input type = "hidden" id = "edit-delivery-status-form-status" name = "deliveryStatusOld">
                            <h4 id= "edit-delivery-status-form-display-id" class = "fw-bold pt-2 status-name text-primary">11753242</h4>
                            <h5 id = "edit-delivery-status-form-customer" class = "status-role text-primary">Shell</h5>
                        </div>

                        <div class = "mt-4 mb-2 mx-3 row text-center">
                            <div class = "col">
                                <button id = "cancel-delivery-btn" class = "btn btn-white fw-bold m-1 px-5 text-primary rounded-pill">Cancelled</button>
                            </div>
                            
                            <div class = "col">
                                <div id = "complete-delivery-btn-tooltip">
                                    <button id = "complete-delivery-btn" class = "btn btn-white fw-bold m-1 px-5 text-primary rounded-pill">Completed</button>
                                </div>
                            </div>
                        </div>

                        <div class = "mb-4 mx-3 row text-center">
                            <div class = "col">
                                <div id = "pend-delivery-btn-tooltip">
                                    <button id = "pend-delivery-btn" class = "btn btn-white fw-bold px-5 text-primary rounded-pill">Pending</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
        
        <div class = "fluid-container">
            <div class = "row">
                <div class = "col-auto">
                    <div class = "bg-primary p-2 fw-bold mt-3 me-4 table-block table-responsive">
                        <div class = "m-2">
                            <p class = "text-warning"><i>FILTER DELIVERY</i></p>
                            
                            <div class = "mb-4">
                                <span class = "text-warning">SORT BY:</span>
                                <br>

                                <input id = "sort-delivery-customer-name-az" name = "sortDeliveryCustomerName" type = "radio" value = "A TO Z">
                                <label for = "sort-delivery-customer-name-az" class = "text-white">A TO Z (NAME)</label>
                                <br>

                                <input id = "sort-delivery-customer-name-za" name = "sortDeliveryCustomerName" type = "radio" value = "Z to A">
                                <label for = "sort-delivery-customer-name-za" class = "text-white">Z TO A (NAME)</label>
                            </div>
                                
                            <div class = "mb-4">
                                <span class = "text-warning">DELIVERY DATE:</span>
                                <br>
                                
                                <input id = "delivery-date" name = "deliveryDate" type = "date">
                            </div>
                            
                            <div class = "mb-4">
                                <span class = "fw-bold text-warning">STATUS: </span>
                                <br>

                                <input id = "sort-delivery-pending-status" name = "sortDeliveryStatus" type = "checkbox" value = "Pending Status">
                                <label for = "sort-delivery-pending-status" class = "text-white">PENDING</label>
                                <br>

                                <input id = "sort-delivery-completed-status" name = "sortDeliveryStatus" type = "checkbox" value = "Completed Status">
                                <label for = "sort-delivery-completed-status" class = "text-white">COMPLETED</label>
                                <br>

                                <input id = "sort-delivery-cancelled-status" name = "sortDeliveryStatus" type = "checkbox" value = "Cancelled Status">
                                <label for = "sort-delivery-cancelled-status" class = "text-white">CANCELLED</label>
                            </div>    

                            <button id = "reset-sort-delivery" class = "btn float-end fw-bold text-white">X RESET</button>
                        </div>   
                    </div>
                </div>

                <div class = "col">
                    <div class = "bg-primary border border-primary border-5 mt-3 me-5 table-block text-center">
                        <div class = "bg-light h-100 table-responsive">
                            <table class = "align-middle table table-hover" id = "delivery-table">
                                <thead class = "bg-primary table-fixed table-header text-white">
                                    {{#if (validDeliveryRole role)}}
                                    <tr>
                                        <th scope = "col" class = "w-15">ID</th>
                                        <th scope = "col" class = "w-15">DATE</th>
                                        <th scope = "col" class = "w-20">CUSTOMER NAME</th>
                                        <th scope = "col" class = "w-20">DROP-OFF LOCATION</th>
                                        <th scope = "col" class = "w-10">STATUS</th>
                                        <th scope = "col" class = "w-10">MORE INFO</th>
                                        <th scope = "col" class = "w-10">EDIT</th>
                                    </tr>
                                    {{else}}
                                    <tr>
                                        <th scope = "col" class = "w-15">ID</th>
                                        <th scope = "col" class = "w-15">DATE</th>
                                        <th scope = "col" class = "w-20">CUSTOMER NAME</th>
                                        <th scope = "col" class = "w-20">DROP-OFF LOCATION</th>
                                        <th scope = "col" class = "w-10">STATUS</th>
                                        <th scope = "col" class = "w-10">MORE INFO</th>
                                    </tr>
                                    {{/if}}
                                </thead>

                                <input id = "delivery-gasoline-total" name = "deliveryGasolineTotal" type = "hidden" value = "{{deliveryTotalGasoline}}">
                                <input id = "delivery-premium-gasoline-95-total" name = "deliveryPremiumGasoline95Total" type = "hidden" value = "{{deliveryTotalPremiumGasoline95}}">
                                <input id = "delivery-diesel-total" name = "deliveryDieselTotal" type = "hidden" value = "{{deliveryTotalDiesel}}">
                                <input id = "delivery-premium-gasoline-97-total" name = "deliveryPremiumGasoline97Total" type = "hidden" value = "{{deliveryTotalPremiumGasoline97}}">
                                <input id = "delivery-kerosene-total" name = "deliveryKeroseneTotal" type = "hidden" value = "{{deliveryTotalKerosene}}">

                                <tbody id = "delivery-list">
                                {{#each deliveryStatuses}}
                                    {{#if (validDeliveryRole ../role)}}
                                    <tr class = "delivery" id = "entry-{{lookup ../deliveryIds @index}}">
                                        <td id = "id-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryIds @index}}</td>
                                        <td id = "date-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryDates @index}}</td>
                                        <td id = "customer-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryCustomers @index}}</td>
                                        <td id = "dropoff-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryDropoffs @index}}</td>
                                        <td><button id = "status-{{lookup ../deliveryIds @index}}" class = "btn shadow-none edit-delivery-status" data-bs-toggle = "modal" data-bs-target = "#edit-delivery-status-modal"><img id = "status-img-{{lookup ../deliveryIds @index}}" src = {{getStatusIcon this}} class = "edit-delivery-status table-icon"></button></td>
                                        <td><a href = "/getMoreInfoDelivery/{{lookup ../deliveryIds @index}}"><img src = "/assets/more.png" alt = "view-delivery-more-info" class = "view-delivery-more-info table-icon"></a></td>
                                        <td><a href = "/getEditDelivery/{{lookup ../deliveryIds @index}}" id = "edit-{{lookup ../deliveryIds @index}}"><img src = "/assets/pencil.png" alt = "edit-delivery-details" class = "edit-delivery-details table-icon"></a></td>
                                    </tr>
                                    {{else}}
                                    <tr class = "delivery">
                                        <td id = "id-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryIds @index}}</td>
                                        <td id = "date-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryDates @index}}</td>
                                        <td id = "customer-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryCustomers @index}}</td>
                                        <td id = "dropoff-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryDropoffs @index}}</td>
                                        <td><img id = "status-img-{{lookup ../deliveryIds @index}}" src = {{getStatusIcon this}} class = "edit-delivery-status table-icon"></td>
                                        <td><a href = "/getMoreInfoDelivery/{{lookup ../deliveryIds @index}}" id = "edit-{{lookup ../deliveryIds @index}}"><img src = "/assets/more.png" alt = "view-delivery-more-info" class = "view-delivery-more-info table-icon"></a></td>
                                    </tr>
                                    {{/if}}

                                    <input id = "delivery-gasoline-amount-{{lookup ../deliveryIds @index}}" name = "deliveryGasolineAmount" type = "hidden" value = "{{lookup ../deliveryLitersGasoline @index}}">
                                    <input id = "delivery-premium-gasoline-95-amount-{{lookup ../deliveryIds @index}}" name = "deliveryPremiumGasoline95Amount" type = "hidden" value = "{{lookup ../deliveryLitersPremiumGasoline95 @index}}">
                                    <input id = "delivery-diesel-amount-{{lookup ../deliveryIds @index}}" name = "deliveryDieselAmount" type = "hidden" value = "{{lookup ../deliveryLitersDiesel @index}}">
                                    <input id = "delivery-premium-gasoline-97-amount-{{lookup ../deliveryIds @index}}" name = "deliveryPremiumGasoline97Amount" type = "hidden" value = "{{lookup ../deliveryLitersPremiumGasoline97 @index}}">
                                    <input id = "delivery-kerosene-amount-{{lookup ../deliveryIds @index}}" name = "deliveryKeroseneAmount" type = "hidden" value = "{{lookup ../deliveryLitersKerosene @index}}">

                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class = "align-middle table table-hover no-display" id = "delivery-table-orig">
            <thead class = "bg-primary table-fixed table-header text-white">
                {{#if (validDeliveryRole role)}}
                <tr>
                    <th scope = "col" class = "w-15">ID</th>
                    <th scope = "col" class = "w-15">DATE</th>
                    <th scope = "col" class = "w-20">CUSTOMER NAME</th>
                    <th scope = "col" class = "w-20">DROP-OFF LOCATION</th>
                    <th scope = "col" class = "w-10">STATUS</th>
                    <th scope = "col" class = "w-10">MORE INFO</th>
                    <th scope = "col" class = "w-10">EDIT</th>
                </tr>
                {{else}}
                <tr>
                    <th scope = "col" class = "w-15">ID</th>
                    <th scope = "col" class = "w-15">DATE</th>
                    <th scope = "col" class = "w-20">CUSTOMER NAME</th>
                    <th scope = "col" class = "w-20">DROP-OFF LOCATION</th>
                    <th scope = "col" class = "w-10">STATUS</th>
                    <th scope = "col" class = "w-10">MORE INFO</th>
                </tr>
                {{/if}}
            </thead>

            <input id = "delivery-gasoline-total" name = "deliveryGasolineTotal" type = "hidden" value = "{{deliveryTotalGasoline}}">
            <input id = "delivery-premium-gasoline-95-total" name = "deliveryPremiumGasoline95Total" type = "hidden" value = "{{deliveryTotalPremiumGasoline95}}">
            <input id = "delivery-diesel-total" name = "deliveryDieselTotal" type = "hidden" value = "{{deliveryTotalDiesel}}">
            <input id = "delivery-premium-gasoline-97-total" name = "deliveryPremiumGasoline97Total" type = "hidden" value = "{{deliveryTotalPremiumGasoline97}}">
            <input id = "delivery-kerosene-total" name = "deliveryKeroseneTotal" type = "hidden" value = "{{deliveryTotalKerosene}}">

            <tbody id = "delivery-list">
            {{#each deliveryStatuses}}
                {{#if (validDeliveryRole ../role)}}
                <tr class = "delivery" id = "entry-{{lookup ../deliveryIds @index}}">
                    <td id = "id-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryIds @index}}</td>
                    <td id = "date-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryDates @index}}</td>
                    <td id = "customer-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryCustomers @index}}</td>
                    <td id = "dropoff-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryDropoffs @index}}</td>
                    <td><button id = "status-{{lookup ../deliveryIds @index}}" class = "btn shadow-none edit-delivery-status" data-bs-toggle = "modal" data-bs-target = "#edit-delivery-status-modal"><img id = "status-img-{{lookup ../deliveryIds @index}}" src = {{getStatusIcon this}} class = "edit-delivery-status table-icon"></button></td>
                    <td><a href = "/getMoreInfoDelivery/{{lookup ../deliveryIds @index}}"><img src = "/assets/more.png" alt = "view-delivery-more-info" class = "view-delivery-more-info table-icon"></a></td>
                    <td><a href = "/getEditDelivery/{{lookup ../deliveryIds @index}}"><img src = "/assets/pencil.png" alt = "edit-delivery-details" class = "edit-delivery-details table-icon"></a></td>
                </tr>
                {{else}}
                <tr class = "delivery">
                    <td id = "id-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryIds @index}}</td>
                    <td id = "date-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryDates @index}}</td>
                    <td id = "customer-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryCustomers @index}}</td>
                    <td id = "dropoff-{{lookup ../deliveryIds @index}}">{{lookup ../deliveryDropoffs @index}}</td>
                    <td><img id = "status-img-{{lookup ../deliveryIds @index}}" src = {{getStatusIcon this}} class = "edit-delivery-status table-icon"></td>
                    <td><a href = "/getMoreInfoDelivery/{{lookup ../deliveryIds @index}}"><img src = "/assets/more.png" alt = "view-delivery-more-info" class = "view-delivery-more-info table-icon"></a></td>
                </tr>
                {{/if}}

                <input id = "delivery-gasoline-amount-{{lookup ../deliveryIds @index}}" name = "deliveryGasolineAmount" type = "hidden" value = "{{lookup ../deliveryLitersGasoline @index}}">
                <input id = "delivery-premium-gasoline-95-amount-{{lookup ../deliveryIds @index}}" name = "deliveryPremiumGasoline95Amount" type = "hidden" value = "{{lookup ../deliveryLitersPremiumGasoline95 @index}}">
                <input id = "delivery-diesel-amount-{{lookup ../deliveryIds @index}}" name = "deliveryDieselAmount" type = "hidden" value = "{{lookup ../deliveryLitersDiesel @index}}">
                <input id = "delivery-premium-gasoline-97-amount-{{lookup ../deliveryIds @index}}" name = "deliveryPremiumGasoline97Amount" type = "hidden" value = "{{lookup ../deliveryLitersPremiumGasoline97 @index}}">
                <input id = "delivery-kerosene-amount-{{lookup ../deliveryIds @index}}" name = "deliveryKeroseneAmount" type = "hidden" value = "{{lookup ../deliveryLitersKerosene @index}}">
                
            {{/each}}
            </tbody>
        </table>
    </body>
</html>