<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Edit Stock</title>

        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel = "stylesheet">       
        <link href = "https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@500&display=swap" rel = "stylesheet">
        <link href = "/css/style.css" rel = "stylesheet">

        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src = "/js/edit-stock.js" type = "module"></script>
    </head>
    <body class = "bg-home">
        {{>navbar adminflag = false home-page = true account-page = false}}

        <div class = "m-4">
            <h1 class = "fs-1 fw-bolder text-center text-info text-muted">EDIT STOCK</h1>
        </div>

        <form id = "edit-stock-form">
            <div class = "bg-light border border-primary border-5 mt-3 mx-5 table-block table-responsive">
                <table class = "align-middle table table-borderless">
                    <thead class = "bg-primary table-fixed table-header text-primary">
                        <th scope = "col">EDIT STOCK</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class = "m-4 row">
                                    <div class = "col me-5">
                                        <input id = "edit-stock-type" type = "hidden" value = "{{type}}">

                                        <label for = "edit-stock-name" class = "form-label fw-bold text-primary">Name</label>
                                        <select id = "edit-stock-name" name = "editStockName" class = "form-select rounded-pill" required>
                                            <option value = "gasoline">Gasoline</option>
                                            <option value = "premium-gasoline-95">Premium Gasoline 95</option>
                                            <option value = "diesel">Diesel</option>
                                            <option value = "premium-gasoline-97">Premium Gasoline 97</option>
                                            <option value = "kerosene">Kerosene</option>
                                        </select>
                                    </div>

                                    <div class = "col">
                                        <label for = "edit-stock-current-quantity" class = "form-label fw-bold text-primary">Current Quantity (L)</label>
                                        <input id = "edit-stock-current-quantity" name = "editStockCurrentQuantity" type = "number" placeholder = "Current Quantity" min = "0" step = "1" class = "form-control p-2 rounded-pill" readonly = "readonly">
                                        <input id = "edit-stock-quantity-depleted" name = "editStockQuantityDepleted" type = "hidden" placeholder = "Quantity Depleted" min = "0" step = "1" value = "{{quantityDepleted}}" class = "form-control p-2 rounded-pill" readonly = "readonly">
                                    </div>
                                </div>

                                <div class = "m-4 row">
                                    <div class = "col me-5">
                                        <label for = "edit-stock-supplier" class = "form-label fw-bold text-primary">Supplier</label>
                                        <input id = "edit-stock-supplier" name = "editStockSupplier" type = "text" placeholder = "Supplier" value = "{{supplier}}" class = "form-control p-2 rounded-pill" required>

                                        <div id = "edit-stock-invalid-blank-supplier" class = "fw-bold invalid-feedback text-center">
                                            Kindly input the supplier
                                        </div>
                                    </div>

                                    <div class = "col">
                                        <input id = "edit-stock-id" name = "editStockId" type = "hidden" value = "{{id}}">
                                        
                                        <label for = "edit-stock-quantity-purchased" class = "form-label fw-bold text-primary">Purchased Quantity (L)</label>
                                        <input id = "edit-stock-quantity-purchased" name = "editStockQuantityPurchased" type = "number" placeholder = "Quantity Purchased" min = "{{quantityDepleted}}" step = "1" value = "{{quantityPurchased}}" class = "form-control p-2 rounded-pill" required>

                                        <div id = "edit-stock-invalid-blank-quantity" class = "fw-bold invalid-feedback text-center">
                                            Kindly input the quantity
                                        </div>

                                        <div id = "edit-stock-invalid-decimal-quantity" class = "fw-bold invalid-feedback text-center">
                                            Quantity should have only up to 2 decimal points
                                        </div>

                                        <div id = "edit-stock-invalid-amount-quantity" class = "fw-bold invalid-feedback text-center">
                                            Depleted quantity exceeds purchased quantity. Minimum purchase is {{quantityDepleted}} L
                                        </div>
                                    </div>
                                </div>

                                <div class = "m-4 row">
                                    <div class = "col me-5">
                                        <label for = "edit-stock-storage" class = "form-label fw-bold text-primary">Storage Location</label>
                                        <input id = "edit-stock-storage" name = "editStockStorage" type = "text" placeholder = "Storage Location" value = "{{location}}" class = "form-control p-2 rounded-pill" required>

                                        <div id = "edit-stock-invalid-blank-storage" class = "fw-bold invalid-feedback text-center">
                                            Kindly input the storage location
                                        </div>
                                    </div>

                                    <div class = "col">
                                        <label for = "edit-stock-price-purchased" class = "form-label fw-bold text-primary">Price Purchased (₱)</label>
                                        <input id = "edit-stock-price-purchased" name = "editStockPricePurchased" type = "number" placeholder = "Price Purchased (₱)" min = "0" step = "0.01" value = "{{price}}" class = "form-control p-2 rounded-pill prices" required>

                                        <div id = "edit-stock-invalid-blank-price-purchased" class = "fw-bold invalid-feedback text-center">
                                            Kindly input the price purchased
                                        </div>

                                        <div id = "edit-stock-invalid-decimal-price-purchased" class = "fw-bold invalid-feedback text-center">
                                            Price should have only up to 2 decimal points
                                        </div>
                                    </div>
                                </div>

                                <div class = "m-4 row justify-content-md-center">
                                    <div class = "col-md-6">
                                        <label for = "edit-stock-date-purchased" class = "form-label fw-bold text-primary">Date Purchased</label>   
                                        <input id = "edit-stock-date-purchased" name = "editStockDatePurchased" type = "date" placeholder = "Date Purchased" value = "{{date}}" class = "form-control p-2 rounded-pill" required>
                                    
                                        <div id = "edit-stock-invalid-date-purchased" class = "fw-bold invalid-feedback text-center">
                                            Kindly input the date purchased
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class = "mx-5 my-3"> 
                <a href = "/getInventory" class = "btn btn-primary fw-bold float-start px-5 rounded-pill shadow-sm text-white">Cancel</a>
                <button id = "confirm-edit-stock-btn" type = "submit" class = "btn btn-primary fw-bold float-end px-5 rounded-pill shadow-sm text-white">Confirm</button>
            </div> 
        </form>
    </body>
</html>