<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Home</title>

        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel = "stylesheet">       
        <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href = "/css/style.css" rel = "stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src = "/js/home.js" type = "module"></script>
    </head>
    <body class = "bg-home">
        {{>navbar adminflag = true home-page = true account-page = false}}

        <div class = "modal" id = "edit-price-modal">
            <div class = "modal-dialog modal-dialog-centered">
                <div class = "bg-primary border border-white border-3 modal-content">
                    <div class = "text-end">
                        <button class = "btn fs-5 fw-bold m-1 shadow-none text-white" data-bs-dismiss = "modal">X</button>
                    </div>

                    <div class = "fs-5 fw-bold text-center mb-3 mx-3 text-white">
                        <span>EDIT PRICES</span>
                        <hr class = "bg-light border-4 border-top">
                    </div>

                    <form id = "edit-price-form" method = "POST">
                        <div class = "bg-secondary mb-3 p-2">
                            <div class = "align-items-center row">
                                <div class = "col">
                                    <label for = "edit-gasoline-price" class = "form-label fw-bold text-primary">Gasoline</label>
                                </div>

                                <div class = "col">
                                    <input id = "edit-gasoline-price" name = "editGasolinePrice" type = "number" step = "0.01" value = {{gasoline}} class = "form-control p-2" required>
                                </div>  
                            </div>   
                        </div>

                        <div class = "bg-secondary mb-3 p-2">
                            <div class = "align-items-center row">
                                <div class = "col">
                                    <label for = "edit-premium-gasoline-95-price" class = "form-label fw-bold text-primary">Premium Gasoline 95</label>
                                </div>

                                <div class = "col">
                                    <input id = "edit-premium-gasoline-95-price" name = "editPremiumGasoline95Price" type = "number" step = "0.01" value = {{premiumGasoline95}} class = "form-control p-2" required>
                                </div>  
                            </div>
                        </div>

                        <div class = "bg-secondary mb-3 p-2">
                            <div class = "align-items-center row">
                                <div class = "col">
                                    <label for = "edit-diesel-price" class = "form-label fw-bold text-primary">Diesel</label>
                                </div>

                                <div class = "col">
                                    <input id = "edit-diesel-price" name = "editDieselPrice" type = "number" step = "0.01" value = {{diesel}} class = "form-control p-2" required>
                                </div>  
                            </div>
                        </div>

                        <div class = "bg-secondary mb-3 p-2">
                            <div class = "align-items-center row">
                                <div class = "col">
                                    <label for = "edit-premium-gasoline-97-price" class = "form-label fw-bold text-primary">Premium Gasoline 97</label>
                                </div>

                                <div class = "col">
                                    <input id = "edit-premium-gasoline-97-price" name = "editPremiumGasoline97Price" type = "number" step = "0.01" value = {{premiumGasoline97}} class = "form-control p-2" required>
                                </div>  
                            </div>
                        </div>

                        <div class = "bg-secondary mb-3 p-2">
                            <div class = "align-items-center row">
                                <div class = "col">
                                    <label for = "edit-kerosene-price" class = "form-label fw-bold text-primary">Kerosene</label>
                                </div>

                                <div class = "col">
                                    <input id = "edit-kerosene-price" name = "editKerosenePrice" type = "number" step = "0.01" value = {{kerosene}} class = "form-control p-2" required>
                                </div>  
                            </div>
                        </div>

                        <div class = "mx-3 my-4">
                            <button id = "cancel-edit-price" class = "btn btn-white float-start fw-bold m-1 px-5 rounded-pill text-primary" data-bs-dismiss = "modal">Cancel</button>
                            <button id = "confirm-edit-price" type = "submit" class = "btn btn-white float-end fw-bold m-1 mb-3 px-5 rounded-pill text-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class = "bg-primary border border-primary border-5 mt-5 mx-5 text-center">
            <div class = "border border-primary border-5 table-responsive">
                <input type = "hidden" id = "user-role" name = "userRole" value = {{role}}>
                <table class = "table">
                    <thead class = "text-white">
                        <tr>
                            <th scope = "col">GASOLINE</th>
                            <th scope = "col">PREMIUM GASOLINE 95</th>
                            <th scope = "col">DIESEL</th>
                            <th scope = "col">PREMIUM GASOLINE 97</th>
                            <th scope = "col">KEROSENE</th>
                        </tr>
                    </thead>
                    <tbody class = "bg-secondary">
                        <tr>
                            <td>₱ <span id = "gasoline-price">{{gasoline}}</span></td>
                            <td>₱ <span id = "premium-gasoline-95-price">{{premiumGasoline95}}</span></td>
                            <td>₱ <span id = "diesel-price">{{diesel}}</span></td>
                            <td>₱ <span id = "premium-gasoline-97-price">{{premiumGasoline97}}</span></td>
                            <td>₱ <span id = "kerosene-price">{{kerosene}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class = "me-5 my-3 text-end"> 
            <button id = "edit-price-btn" class = "btn btn-primary fw-bold px-5 rounded-pill shadow-sm text-white" data-bs-toggle = "modal" data-bs-target = "#edit-price-modal">Edit</button>
        </div> 

        <div class = "container">
            <div class = "row text-center">
                <div class = "bg-primary col m-5 p-1 rounded">
                    <a href = "/getDelivery" class = "bungee-font text-decoration-none text-warning">
                        <div>
                            <img src = "/assets/fast.png" class = "m-2 p-3 w-50 h-50">
                            <p>DELIVERIES</p>
                        </div>
                    </a>
                </div> 

                <div class = "bg-primary col m-5 p-1 rounded">
                    <a href = "/getTransaction" class = "bungee-font text-decoration-none text-warning">
                        <div>
                            <img src = "/assets/transaction.png" class = "m-2 p-3 w-50 h-50">
                            <p>TRANSACTIONS</p>
                        </div>
                    </a>
                </div>

                <div class = "bg-primary col m-5 p-1 rounded">
                    <a href = "/getInventory" class = "bungee-font text-decoration-none text-warning">
                        <div>
                            <img src = "/assets/inventory.png" class = "m-2 p-3 w-50 h-50">
                            <p>INVENTORY</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>